/* rtf.css - stylesheet for the bookrtf RTF output 
 *
 *  Supported elements:
 *    body p
 *    h1 h2 h3 h4 h5 h6
 *    li
 *    th td
 *    code
 *    pre
 *    span
 *    del s ins
 *    u
 *    div (as part of the parental tree; page breaks)
 *  
 *  Build in classes: 
 *    .header-left
 *    .header-right
 *    .footer-left
 *    .footer-right
 *  
 *  Supported properties [values]:
 *    margin-* [cm, mm, in, px, pt, pc]
 *    font-family [first value only]
 *    font-size [cm, mm, in, px, pt, pc]
 *    font-weight [bold, normal]
 *    text-align [left, right, center, justify]
 *    text-decoration [line-through, underline, none]
 *      RTF does not support overstrike.
 *    text-decoration-color [rgb(), #, color name]
 *      RTF only supports color definition for underline.
 *      LibreOffice does not implement underline color from RTF.
 *    text-decoration-style [solid, double, dashed, dotted, wavy]
 *      RTF only supports style for underline.
 *    color [rgb(), #, color name]
 * 
 *   Properties only applied in table cells (td, th):
 *    border-*-width [cm, mm, in, px, pt, pc]
 *    border-*-style [solid, dotted, dashed, double, none, hidden]
 *    vertical-align [top, middle, bottom]
 *    width [cm, mm, in, px, pt, pc]
 *      note that the default page width (ex. margins) is about 554 pixels.
 * 
 *   Properties only applied in h1-6, div
 *    page-break-before [always, avoid]
 *    page-break-after [always, avoid]
 * 
 * Note that values and colors should be in css format, this includes unit or
 * type specification. All values will be converted to rtf appropriate values.
 * Supported values are mentioned between square brackets behind the property.
 * 
 * The document style can be customized by adding a bookexportrtf.rtf.css file
 * to the theme's css directory.
 */

/* basic html elements */
body {
  font-family: Calibri;
  font-size: 12pt;
}
p {
  margin-bottom: 13px;
  text-align: justify;
}
h1 {
  page-break-before: always;
  margin-bottom: 13px;
  font-size: 16pt;
  font-weight: bold;
}
h2 {
  margin-bottom: 0px;
  font-size: 14pt;
  font-weight: bold;
}
h3 {
  margin-bottom: 0px;
  font-size: 16pt;
  font-weight: bold;
  text-align: center;
}

/* lists */
li {
  margin-bottom: 0px;
  text-align: left;
}

/* tables */
th {
  margin-left: 2px;
  margin-right: 2px;
  text-align: left;
}
td {
  margin-left: 2px;
  margin-right: 2px;
  text-align: left;
}

/* special html elements */
ins {
  text-decoration: underline;
}
s {
  text-decoration: line-through;
}
del {
  text-decoration: line-through;
}
code {
  font-family: monospace;
}

/* headers and footers  */
.header-left {
  text-align: left;
  font-weight: bold;
}
.header-right {
  text-align: right;
}
.footer-left {
  text-align: left;
}
.footer-right {
  text-align: right; 
}
