/* rtf.css - stylesheet for the bookrtf RTF output
 *
 *  Supported elements:
 *    body
 *    h1 h2 h3 h4 h5 h6
 *    p li code
 *    span del ins s
 *    th td
 *    pre
 *    u
 *    div article
 *
 *  Build in classes:
 *    .page
 *    .header-left
 *    .header-right
 *    .footer-left
 *    .footer-right
 *    .article-depth-N
 *      N is the depth of the article, toplevel (book) = 1
 *    .last-item-in-list
 *      This is the last item in the complete list, so not the last item in a
 *      nested list.
 *
 *  Supported properties [values]:
 *    color [rgb(), #, color name]
 *    display [none initial]
 *      only for the p and span groups
 *    font-family [first value only]
 *    font-size [cm, mm, in, px, pt, pc]
 *    font-weight [bold, normal]
 *    margin-* [cm, mm, in, px, pt, pc]
 *      In lists margin-left specifies the amount of indentation.
 *    text-align [left, right, center, justify]
 *    text-decoration [line-through, underline, none]
 *      RTF does not support overstrike.
 *    text-decoration-color [rgb(), #, color name]
 *      RTF only supports color definition for underline.
 *      LibreOffice does not implement underline color from RTF.
 *    text-decoration-style [solid, double, dashed, dotted, wavy]
 *      RTF only supports style for underline.
 *    text-indent [cm, mm, in, px, pt, pc]
 *      In lists text-indent specifies the indentation of the bullet and should
 *      be negative.
 *
 *   Properties only applied in table cells (td, th):
 *    border-*-width [cm, mm, in, px, pt, pc]
 *    border-*-style [solid, dotted, dashed, double, none, hidden]
 *    vertical-align [top, middle, bottom]
 *    width [cm, mm, in, px, pt, pc]
 *      note that the default page width (ex. margins) is about 554 pixels.
 *
 *   Properties only applied in h1-6, div, article
 *    page-break-before [always, auto, avoid]
 *      RTF only supports avoid for sections (so html element article).
 *    page-break-after [always, auto, avoid]
 *      RTF only supports avoid for paragraphs, this only work for headers.
 *
 *   Properties only applied to .page
 *     size [cm, mm, in, px, pt, pc]
 *
 * Note that values and colors should be in css format, this includes unit or
 * type specification. All values will be converted to rtf appropriate values.
 * Supported values are mentioned between square brackets behind the property.
 *
 * The document style can be customized by adding a bookexportrtf.rtf.css file
 * to the theme's css directory.
 *
 * See the module help page for more details.
 */

/**
 * Page format
 *
 * The special selector page format can be used to set the dimensions and
 * margins of the page.
 */
.page {
  size: 210mm 297mm;
  margin-top: 25.4mm;
  margin-right: 31.75mm;
  margin-bottom: 25.4mm;
  margin-left: 31.75mm;
}

/* basic html elements */
body {
  font-family: Calibri;
  font-size: 12pt;
}
p {
  margin-bottom: 13px;
  text-align: justify;
}
h1 {
  margin-bottom: 13px;
  font-size: 16pt;
  font-weight: bold;
  page-break-after: avoid;
}
h2 {
  margin-bottom: 0px;
  font-size: 14pt;
  font-weight: bold;
  page-break-after: avoid;
}
h3 {
  margin-bottom: 0px;
  font-size: 16pt;
  font-weight: bold;
  text-align: center;
  page-break-after: avoid;
}

h4 {
  page-break-after: avoid;
}

h5 {
  page-break-after: avoid;
}

h6 {
  page-break-after: avoid;
}

/* lists */
li {
  margin-bottom: 0px;
  margin-left: 36pt;
  text-align: left;
  text-indent: -18pt;
}

/* tables */
th {
  margin-left: 2px;
  margin-right: 2px;
  text-align: left;
}
td {
  margin-left: 2px;
  margin-right: 2px;
  text-align: left;
}

/* special html elements */
ins {
  text-decoration: underline;
}
s {
  text-decoration: line-through;
}
del {
  text-decoration: line-through;
}
code {
  font-family: monospace;
}

/* special classes  */
.header-left {
  text-align: left;
  font-weight: bold;
}
.header-right {
  text-align: right;
}
.footer-left {
  text-align: left;
}
.footer-right {
  text-align: right;
}
.last-item-in-list {
  margin-bottom: 13px;
}

/* hide author and creation date */
.field--name-created {
  display: none;
}
.field--name-title {
  display: none;
}
.field--name-uid {
  display: none;
}
